<div>	
 <table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>COUNTRY NAME</th>
				<th>STATE</th>
				<th>STATE CODE</th>
				<th>DISTANCE</th>
				<th>LARGEST CITY</th>
				<th>STATE CAPITAL</th>
			</tr>
		</thead>
		<tr ng-repeat="x in searchByAreaName | orderBy : 'id'">
			<td>{{ x.country }}</td>
			<td>{{ x.name }}</td>
			<td>{{ x.abbr }}</td>	
			<td>{{ x.area }}</td>
			<td>{{ x.largest_city }}</td>		
			<td>{{ x.capital }}</td>		
		 </tr>
	</table>
</div>
